body {
    min-height: 100vh;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

section {
    position: relative;
    height: 100%;
    width: 100%;
}

section img {
    position: absolute;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hoverable:hover {
    cursor: pointer;
}

.d-inline-block {
    display: inline-block;
}

.p-abs {
    position: absolute;
}

.p-rel {
    position: relative;
}

/* .wolken {
    transition: .001s;
} */

.title {
    position: fixed;
    color: #fff;
}

.breaker {
    position: relative;
    background-color: inherit;
    color:white;
    padding: 2em;
}

.fade-in-left-1 {
    animation-name: fadeinleft1;
    animation-duration: 1s;
    left: 15vw;
    top: 0;
    height: 23vw;
    width: 20vw;
}

.fade-out-left-1 {
    animation-name: fadeoutleft1;
    animation-duration: 1s;
    left: 45vw;
    top: 150px;
    height: 1vh;
    width: 1vw;
}

.fade-in-right-2 {
    animation-name: fadeinright2;
    animation-duration: 1s;
    left: 60vw;
    top: 500px;
    height: 23vw;
    width: 20vw;
}

.fade-out-right-2 {
    animation-name: fadeoutright2;
    animation-duration: 1s;
    left: 45vw;
    top: 700px;
    height: 1vh;
    width: 1vw;
}

.fade-in-left-3 {
    animation-name: fadeinleft3;
    animation-duration: 1s;
    left: 15vw;
    top: 1000px;
    height: 23vw;
    width: 20vw;
}

.fade-out-left-3 {
    animation-name: fadeoutleft3;
    animation-duration: 1s;
    left: 45vw;
    top: 1200px;
    height: 1vh;
    width: 1vw;
}

.fade-in-right-4 {
    animation-name: fadeinright4;
    animation-duration: 1s;
    left: 60vw;
    top: 1500px;
    height: 23vw;
    width: 20vw;
}

.fade-out-right-4 {
    animation-name: fadeoutright4;
    animation-duration: 1s;
    left: 45vw;
    top: 1700px;
    height: 1vh;
    width: 1vw;
}

@keyframes fadeinleft1 {
    from {
        left: 45vw;
        top: 150px;
        height: 1vh;
        width: 1vw;
    }

    to {
        left: 15vw;
        top: 0;
        height: 23vw;
        width: 20vw;
    }
}

@keyframes fadeoutleft1 {
    to {
        left: 45vw;
        top: 150px;
        height: 1vh;
        width: 1vw;
    }

    from {
        left: 15vw;
        top: 0;
        height: 23vw;
        width: 20vw;
        font-size: 20px;
    }
}

@keyframes fadeinright2 {
    from {
        left: 45vw;
        top: 650px;
        height: 1vh;
        width: 1vw;
    }

    to {
        left: 60vw;
        top: 500px;
        height: 23vw;
        width: 20vw;
        font-size: 20px;
    }
}

@keyframes fadeoutright2 {
    to {
        left: 45vw;
        top: 650px;
        height: 1vh;
        width: 1vw;
    }

    from {
        left: 60vw;
        top: 500px;
        height: 23vw;
        width: 20vw;
    }
}

@keyframes fadeinleft3 {
    from {
        left: 45vw;
        top: 1150px;
        height: 1vh;
        width: 1vw;
    }

    to {
        left: 15vw;
        top: 1000px;
        height: 23vw;
        width: 20vw;
    }
}

@keyframes fadeoutleft3 {
    to {
        left: 45vw;
        top: 1150px;
        height: 1vh;
        width: 1vw;
    }

    from {
        left: 15vw;
        top: 1000px;
        height: 23vw;
        width: 20vw;
    }
}

@keyframes fadeinright4 {
    from {
        left: 45vw;
        top: 1650px;
        height: 1vh;
        width: 1vw;
    }

    to {
        left: 60vw;
        top: 1500px;
        height: 23vw;
        width: 20vw;
    }
}

@keyframes fadeoutright4 {
    to {
        left: 45vw;
        top: 1650px;
        height: 1vh;
        width: 1vw;
    }

    from {
        left: 60vw;
        top: 1500px;
        height: 23vw;
        width: 20vw;
    }
}